---
layout: archive
---

{{ content }}

<img src="/assets/images/group.png">

<!--h3 class="archive__subtitle"> Upcoming Events </h3>
<ul>
  <li> 2023 Workshops dates: <s> Feb 16, April 6, Jun 15</s> Sept 21, and Nov 16 </li>
</ul>
<p style="color:red">Worksop on June 15th is canceled! </p>
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3-->


  <b style="color:#FF0000;">Important Dates</b>:
  
  <p>2025 Branch workshops:<br>
    <b>4/17(R104), 6/26, 8/21, 10/16, 12/18</b><p> 2025 FlowerShow:<br><b>10/2-10/5</b>

    <!--
  2/15/24; 4/4; 6/20; 8/8, and 10/17/24. 
  2/20/25, 4/17, 6/19, 8/21, 10/16/25. 
  10/2, 3, 4 and 5th will be Flower Exhibition-->


  {% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}

<p>
