---
layout: archive
---

{{ content }}

<img src="/assets/images/sfront1.jpg"> <figcaption>Group arrangement at San Diego Sogetsu Flower Show 2017</figcaption>

<h3 class="archive__subtitle"> Important Dates </h3>
<ul>
  <li>Upcoming workshops: June 16th and September 15th</li>
  <li>Sogetsu San Diego Ikebana Exhibition is scheduled for October 20-23, 2022 in Room 101</li>
</ul>


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}

<p>
